*.o
src/tests/test-boost-asio-qextensions/test-10/test-client
src/tests/test-boost-asio-qextensions/test-10/test-serv
src/tests/test-boost-asio-qextensions/test-11/test1
src/tests/test-boost-asio-qextensions/test-2/test-simpleq2
src/tests/test-boost-asio-qextensions/test-3/test-simpleq3
src/tests/test-boost-asio-qextensions/test-33/test3
src/tests/test-boost-asio-qextensions/test-4/test4
src/tests/test-boost-asio-qextensions/test-5/test5
src/tests/test-boost-asio-qextensions/test-55/test3
src/tests/test-boost-asio-qextensions/test-6/test6
src/tests/test-boost-asio-qextensions/test-7/test7
src/tests/test-boost-asio-qextensions/test-8/test1
src/tests/test-boost-asio-qextensions/test-9/test9
src/tests/test-boost-asio-qextensions/test-simpleq1/test-simpleq1
src/tests/test-boost-asio-qextensions/test-simpleq2/test1
src/tests/test-boost-asio-qextensions/test-simpleq3/test1
src/tests/test1-occi-tools/test1-occi-tools
src/tests/test1-stopwatch/test1-stopwatch
src/tests/test1-tpool/test1-tpool
src/tests/test1-type-utils/test1-type-utils
